.nav-link {
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.15s ease-in-out;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.active-link {
  color: #fff;
  text-decoration: underline;
}
